.contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    padding: 20px; 
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 40px;
    background: #f4f4f4; 
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    text-align: center;
    color: #222; 
}

.contact-container h1 {
    font-size: 2.5rem;
    color: #222;
}

.contact-container p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #333;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    color: #444;
}

.form-group label {
    text-align: left;
    padding: 8px;
}

.form-group input{
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #fff; 
    height: 20px;
}
.form-group textarea {
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #fff; 
    
    height: 90px
}

.submit-button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 25px;
}

.submit-button:hover {
    background-color: #cc0000;
    color: #fff;
}

input:focus, textarea:focus {
    box-shadow: 0 0 5px #cc0000;
    transition: box-shadow 0.3s;
}
