/* ==================================================
File: home.css
Authors: @gkaracsonyi, @JustinGetty
Purpose: Styling for home page of FTCP website
Updated: April 2024
================================================== */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.heroContainer {
    height: 100vh;
    width: 100vw;
}

.heroContainer video {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}


.svg-container {
    display: flex;
    position: absolute;
    transform: translate(0vw, 95vh);
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    z-index: 5;
}

@keyframes tidal {
    0% {
        transform: translateY(0px)
    }

    35% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

.expand-down-img {
    width: 30px;
    height: auto;
    animation: tidal 2.5s;
    animation-iteration-count: infinite;
    filter: drop-shadow(0px 0px 4px rgb(0 0 0 / 0.3));
}

.heroGradient {
    position: absolute;
    height: 250px;
    width: 100%;
    z-index: 4;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.6));
}

.section {
    display: flex;
    width: 100%;
    height: 400px;
    margin: 0px;
}

.awardWinning {
    color: white;
    width: 50%;
    font-family: "Oswald", sans-serif;
    padding: 50px;
    z-index: 2;
    margin-right: 40px;
    margin-left: 40px;
}

.awardWinning h3 {
    font-weight: 300;
    letter-spacing: .1em;
    margin: 0;
    transform: translate(2px, 12px);
    color: #FFFFFF;
}

.awardWinning h1 {
    font-weight: 500;
    font-size: 52px;
    margin: 0;
    height: 65px;
}

.awardWinning p {
    color: #CCCCCC;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}

.awardWinning--button {
    background-color: white;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    padding: 8px 14px;
    font-family: 'Oswald';
    font-size: 16px;
    letter-spacing: .07em;
    font-weight: 450;
    transition: ease-in-out .2s;
}

.awardWinning--button:hover {
    background-color: black;
    color: white;
}

.sectionMedia {
    top: 0;
    width: 65%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    object-fit: cover;
    align-items: center;
    display: flex;
}

.sectionMedia img {
    width: 100%;
    object-fit: cover;
}

.sectionMedia--gradient {
    position: absolute;
    z-index: 3;
    width: 400px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
}

@keyframes marqueeAnimation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.marqueeContainer {
    margin: 50px auto;
    width: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
    user-select: none;
}

.marquee {
    display: flex;
    white-space: nowrap;
    animation: marqueeAnimation 25s linear infinite;
}

.marqueeLogo {
    filter: brightness(0) invert(1);
    width: auto;
    height: 60px;
    margin-right: 75px;
    /* Adjust as needed */
}

.marqueeLogoSpecial {
    filter: invert(1);
    width: auto;
    height: 60px;
    margin-right: 100px;
    /* Adjust as needed */
}

.marqueeGradient{
    width: 150px;
    height: 100%;
    z-index: 3;
    position: absolute;
}

.mgLeft {
    background-image: linear-gradient(to right, rgba(0, 0 , 0, 1), rgba(0, 0, 0, 0));
}

.mgRight {
    background-image: linear-gradient(to left, rgba(0, 0 , 0, 1), rgba(0, 0, 0, 0));
    right: 0;
}