/* ==================================================
File: home.css
Authors: @gkaracsonyi, @JustinGetty
Purpose: Styling for home page of FTCP website
Updated: April 2024
================================================== */

