/* ==================================================
File: footer.css
Authors: @gkaracsonyi, @JustinGetty
Purpose: Styling for footer element
Updated: April 2024
================================================== */