/* ==================================================
File: header.css
Authors: @gkaracsonyi, @JustinGetty
Purpose: Styling for header element
Updated: April 2024
================================================== */

