/* ==================================================
File: index.css
Authors: @gkaracsonyi, @JustinGetty
Purpose: Master stylesheet for FTCP website
Updated: April 2024
================================================== */

body {
    margin: 0px;
    background-color: black;
}